[submodule "LSM_project_1"]
	path = LSM_project_1
	url = git@github.com:philipnickel/LSM_project_1.git
[submodule "P1_presentation"]
	path = P1_presentation
	url = git@github.com:philipnickel/P1_presentation.git
[submodule "LSM-Project_2"]
	path = LSM-Project_2
	url = git@github.com:PhilipNickel-DTU-CourseWork/LSM-P2.git
